<a href="https://colab.research.google.com/github/Justine-Villacin/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [16]:
x = 5
y = 4
if  x > y :
  print ( "Five is greater than two!")

Five is greater than two!

Python Comments

In [13]:
#This is comment

print ("Hello Wrold")

Hello Wrold

Python Variable

In [29]:
x = 1
a, b = 0,-1
a, b, c = 0, -1, 2
print (x, a, b, c)

1 0 -1 2

In [30]:
b = "sally" #This is a type of string
print (b)

sally

Casting

In [22]:
b = "sally" #This is a type of string
b = int(4)
print (b)

b = float(4)
print (b)

4
4.0

Type() Function

In [25]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [36]:
y = "John"
y = 'John'

Case Sensitive

In [34]:
a = 4
A = "Sally"
#A will not overwrite a

print (a)
print (A)

4
Sally

Multiple Variables

In [32]:
x, y, z = "one!", "two!", "three!"
print (x)
print (y)
print (z)

one!
two!
three!

One Value to Multiple Variables

In [37]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [41]:
x = "enjoying"

print ("Python programming is " + x )

Python programming is enjoying

Other way:

In [44]:
x = "Python programming is "
y = "enjoying"
z = x + y

print (z)

Python programming is enjoying

Arithmetic Operation

Addition

In [54]:
x = 4
y = 5
z = x + y

print (z)

9

Subtraction

In [55]:
x = 4
y = 5
z = x - y

print (z)

-1

Multiplication

In [56]:
x = 4
y = 5
z = x * y

print (z)

20

Division

In [57]:
x = 4
y = 5
z = x / y

print (z)

0.8

Modulus

In [58]:
x = 4
y = 5
z = x % y

print (z)

4

Exponentiation

In [59]:
x = 4
y = 5
z = x ** y

print (z)

1024

Floor Division

In [60]:
x = 4
y = 5
z = x // y

print (z)

0

Example

In [62]:
x = 5
y = 3
print (x + y)

x = 5
y = 3
sum = x + y
sum

8

8

Assignment Operators

In [63]:
# (=) Operator

x = 5 # same as " x = 5"

In [64]:
# (+=) Operator

x += 3 # same as " x = x + 3"

Example

In [65]:
a, b, c = 0, -1, 6
c %= 3

print (c)

0

Comparison Operators

In [73]:
a, b, c, = 0, -1, 6

a > b

True

Logical Operator

In [70]:
x = 5
y = 2

not ( x > y)

False

Identity Operators

In [75]:
a, b, c = 0, -1, 5
a is not c

True

Bitwise Operator

In [86]:
#decimal to binary
#10 = 1    0   1   0
#     8    4   2   1 move to the right

x = 10
x >> 1

5

Application 1

In [108]:
#Triangle
#Formula BH/2

b = input("input the base: ")
h = input("input the height: ")

area = float(b) * float(h) / 2

print ("The Area of Triangle is: " , area)

input the base: 20
input the height: 15
The Area of Triangle is:  150.0

In [110]:
#Circle
#PIR^2

pi_value = 3.141592653589793
r = input ("input the radius: ")

area = pi_value * ( float(r) * float(r) )
formatted_area = f"{area:.4f}"

print ("The Area of Circle is: " , formatted_area)

input the radius: 25
The Area of Circle is:  1963.4954

In [111]:
15#Square
#A*A

a = input("input side of square: ")
area = float (a)  * float (a)

print ("The Area of Square is: ", area)

input side of square: 15
The Area of Square is:  225.0