<a href="https://colab.research.google.com/github/Justine-Villacin/CPE-103-OOP-1-A/blob/main/Operation_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Operators

In [227]:
print (10 > 9)
print (10 == 9)
print (10 < 9)

True
False
False

# Bool() Function

In [ ]:
print(bool(1))
print(bool(0))
print(bool(-2))

True
False
True

# Functionn can Return a Boolean

In [ ]:
def myFunction():
  return True

if myFunction():
  print("YES!")

else:
  print("NO!")

YES!

You Try!

In [ ]:
print(10>9)

a = 6
b = 7
print(a==b)
print(a!=a)

True
False
False

# Python Operators

In [ ]:
print(10 + 5) # Addtion
print(10 - 5) # Subtraction
print(10 * 5) # Multiplication
print(10 / 5) # Division
print(10 ** 5) # Exponential
print(10 // 5) # Floor Division
print(10 % 5) # Modulus

15
5
50
2.0
100000
2
0

# Python Bitwise Operators

In [ ]:
a = 60 #0011 1100
b = 13 #0000 1101

print(a & b) # Bitwise AND
print(a | b) # Bitwise OR
print(a ^ b) # Bitwise XOR
print(~a) # Bitwise NOT
print(a << 2) # Bitwise Left Shift
print(a >> 2) # Bitwise Right Shift

12
61
49
-61
240
15

# Python Assignment Operators

In [ ]:
x = float(10)

x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x %= 3
print(x)

x //= 3
print(x)

x **= 3
print(x)

13.0
10.0
30.0
10.0
1.0
0.0
0.0

# Logical Operators

In [ ]:
a = 10 > 9
b = 10 < 9

print(a and b)
print(a or b)
print(not (a and b))
print(not a)

False
True
True
False

# Identity Operator

In [ ]:
x = 1
y = 2
z = 5
print(x is y)
print(x is not y)
print(z is y)
print(z is not y)

False
True
False
True

# Conditional Statement in Python

In [ ]:
i = 12
j = 100

if i > j:
  print("I is greater than J")
else:
  print("J is greater than I")

J is greater than I

In [ ]:
# 1. If Statement

i = input("Enter a number I: ")
j = input("Enter a number J: ")

print("")

if i > j:
  print("I is greater than J")
else:
  print("J is greater than I")

Enter a number I: 50
Enter a number J: 11

I is greater than J

# Elif Statements

In [ ]:
i = input("Enter a number I: ")
j = input("Enter a number J: ")

print("")

if i > j:
  print("I is greater than J")
elif i == j:
  print("I is equal to J")

Enter a number I: 15
Enter a number J: 15

I is equal to J

#Else Statement

In [ ]:
i = input("Enter a number I: ")
j = input("Enter a number J: ")

print("")

if i > j:
  print("I is greater than J")
elif i < j:
  print("I is less than J")
else:
  print("I is equal to J")

Enter a number I: 10
Enter a number J: 30

I is less than J

# Short  Hand If Statement

In [ ]:
i = 15
j = 10

if i < j: print("I is greater than J")

# Short Hand If Else Statement

In [ ]:
i = 2
j = 330
print("I") if i > j else print("J")

J

# And-both condition are true

In [229]:
i = 200
j = 33
k = 500

if i>j or i>k:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Nested If Else

In [237]:
x = float(input("Enter a number: "))

print("")

if x > 10:
  print("Above 10 ")
  if x > 20:
    print("Also above 20 ")
    if x > 30:
      print("Also above 30 ")
      if x > 40:
        print("Also above 40 ")
        if x < 50:
          print("below 50 ")
        else:
          print("but above 50")
      else:
        print("but below 40")
    else:
      print("but below 30")
  else:
    print("but below 20")
else:
  print("but below 10")

Enter a number: 21.5

Above 10
Also above 20
but below 30

# Example 1

In [236]:
# Qualifying Age For Voting

age = int(input("Input your age: "))

print("")
if age >= 18:
  print("YOU ARE QUALIFIED TO VOTE")
else:
  print("YOU ARE NOT QUALIFIED TO VOTE")

Input your age: 19

YOU ARE QUALIFIED TO VOTE

# Example 2

In [235]:
# Determining the Number

number = float(input("input a number: "))

print("")
if number > 0:
  print("THE NUMBER IS POSITIVE")
elif number < 0:
  print("THE NUMBER IS NEGATIVE")
else:
  print("THE NUMBER IS ZERO")

input a number: 15

THE NUMBER IS POSITIVE

# Example 3

In [240]:
# Determining the grades

grade = float(input("Input your grade: "))

print("")

if grade >= 75:
    print("PASSED")
elif grade == 74:
    print("REMEDIAL")
else:
    print("FAILED")

Input your grade: 95

PASSED